#fixheader {
    padding: 8px 4px;
    background: #555;
    color: #f1f1f1;
    /* position: fixed; */
    top: 0;
    width: auto;
    height: auto;
    /* border: 1px solid blue; */
}

#waferinfo-container {
    width: auto;
    padding: 4px;
    /* border: 1px solid rebeccapurple; */
}

#numberinfo-container {
    width: auto;
    height: fit-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% auto;
    padding: 4px;
    background-color: #3d5c5c;
    /* border: 1px solid yellowgreen; */
}

#numberselect-container {
    height: fit-content;
    /* background-color: aquamarine; */
}

#numbergrid-container {
    width: 100%;
    height: 30px;
    float: left;
    overflow: hidden;
    /* background-color: blueviolet; */
}

#map-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: gainsboro; */
}

#numbertable-container {
    width: 100%;
    height: 100%;
    /* border: 1px solid #fffc54; */
}

#numbermap-cantainer {
    margin-top: 8px;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 65% auto;
}

#number-canvas {
    display: block;
    /* margin-left: 40px;
    margin-right: 40px; */
    /* border: 1px solid red; */
}

#number-chart {
    width: auto;
    height: auto;
    /* margin-left: 40px;
    margin-right: 40px; */
    /* border: 1px solid burlywood; */
}

.table_cell {
    padding: 4px;
    overflow: hidden;
    border-color: #cccccc;
}

.table_first_row_col {
    border:  1px solid;
    padding: 4px; 
}

.table_first_row {
    border-top: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid; 
}

.table_first_col {
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.table_others {
    border-right: 1px solid;
    border-bottom: 1px solid;
}


