#fixheader {
    padding: 8px 4px;
    background: #555;
    color: #f1f1f1;
    /* position: fixed; */
    top: 0;
    width: auto;
    height: auto;
    border: 1px solid blue;
}

#waferinfo-container {
    width: auto;
    padding: 4px;
    border: 1px solid rebeccapurple;
}

#numberinfo-container {
    width: auto;
    height: fit-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: 30% auto;
    padding: 4px;
    border: 1px solid yellowgreen;
}

#numberselect-container {
    height: fit-content;
    background-color: aquamarine;
}

#numbergrid-container {
    width: 100%;
    height: 30px;
    float: left;
    overflow: hidden;
    background-color: blueviolet;
}

#map-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto auto;
    /* background-color: gainsboro; */
}

#numbertable-container {
    width: fit-content;
    height: fit-content;
    border: 1px solid #fffc54;
}

#number-canvas {
    display: block;
    /* margin-left: 40px; */
    border: 1px solid red;
}

#number-chart {
    width: 90%;
    display: block;
    border: 1px solid burlywood;
}

.container {
    height: auto;
    overflow: hidden;
    border: 1px solid blue;
}
.right {
    width: 70%;
    height: 100%;
    float: right;
    background: #fffc54;
}
.left {
    width: 30%;
    height: 100%;
    overflow: hidden;
    /* background: chocolate; */
    /* border: 1px solid red; */
}

#canvas { 
    width: 100%;
    height: 100%;
    display: block;
    /* margin-left: 60px; */
    border: 1px solid rgba(199, 48, 48, 0.605);
}

.table_cell {
    padding: 4px;
    overflow: hidden;
}

.table_first_row_col {
    border:  1px solid black;
    padding: 4px; 
}

.table_first_row {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;    
}

.table_first_col {
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;    
}

.table_others {
    border-right: 1px solid black;
    border-bottom: 1px solid black;      
}


